.container {
  background-image: url("../../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
  padding: 8rem 0 4rem;
  text-align: center;
  min-height: 100vh;
}
.flex {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
}
.info_wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.img {
  width: 100%;
}
.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3rem;
}
.title span {
  font-weight: 700;
  opacity: 0.25;
  margin-right: 1rem;
}
.subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 2.4px;
  color: #d0d6f9;
}
.terminology {
  font-family: "Bellefair", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin: 1rem 0 1.5rem;
}
.explanation {
  max-width: 55ch;
  margin: 0 auto;
  color: #d0d6f9;
  line-height: 2;
}
.btn_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
.btn {
  font-family: "Bellefair", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.btn.selected {
  background-color: #fff;
  color: #0b0d17;
}
@media (min-width: 45rem) {
  .container {
    background-image: url("../../../assets/technology/background-technology-tablet.jpg");
  }
  .title {
    font-size: 1.25rem;
    text-align: left;
    padding: 0 2rem;
  }
  .terminology {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 1.5rem;
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (min-width: 70rem) {
  .container {
    background-image: url("../../../assets/technology/background-technology-desktop.jpg");
    padding: 12rem 0 4rem 6rem;
    text-align: left;
  }
  .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .info_wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    order: -1;
    padding: 0;
  }
  .title {
    font-size: 1.75rem;
    padding: 0;
  }
  .terminology {
    font-size: 3.5rem;
  }
  .explanation {
    font-size: 1.125rem;
  }
  .btn_container {
    flex-direction: column;
    margin: 0;
  }
  .btn {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
  }
}
