.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  padding: 3rem;
  overflow: hidden;
}
.navbar-nav-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100vw;
  width: auto;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  padding: 2rem;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.navbar-nav-wrapper.show {
  right: 0;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}
.nav-item {
  padding: 1rem;
}
.nav-link {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 400;
}
.nav-link span {
  font-weight: 700;
}
.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}
.nav-link.active::before {
  width: 100%;
}
.hamburger-menu {
  cursor: pointer;
}
.close-menu {
  align-self: flex-end;
  cursor: pointer;
}
@media (min-width: 55em) {
  .hamburger-menu {
    display: none;
  }
  .navbar {
    padding: 0 0 3rem 3rem;
  }
  .navbar-nav-wrapper {
    position: relative;
    height: auto;
    padding: 0 2rem;
    right: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    padding: 2rem;
  }
  .nav-link::before {
    top: calc(100% + 2rem);
  }
  .close-menu {
    display: none;
  }
}
@media (min-width: 1100px) {
  .navbar {
    padding: 3rem 0 3rem 3rem;
  }
  .navbar-nav-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 95%;
    width: 40%;
    min-width: 300px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
